@charset "utf-8";


@font-face {
    font-family: 'genshen';
    src: url('../font/genshen.ttf') format('truetype')
  }
  


.titleimg{
    background-image: url("../image/mushou3.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    transition: 0.5s ease 0s;
    animation: load 0.5s;
}

.titleimg .title{
    width: 100vw;
    padding-left: 32vw;
    padding-right: 32vw;
    margin-top: -30vw;
    font-size: 100px;
    font-family: 'genshen';
    font-weight: bolder;
    color: #df8dcd;
    z-index: 2;
}

.main{
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.sec{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.message{
    display: flex;
    flex-direction: column;
    height: 10vw;
    width: 40vw;
    float: left;
    margin-top: 3vw;
    margin-left: 30vw;
    opacity: 1;
}

.message h1{
    text-align: center;
    font-size: 8em;
    color: white;
    height: 30px;
    line-height: 30px;
}

.pt{
    display: flex;
    flex-direction: column;
    height: 13vw;
    width: 40vw;
    float: left;
    margin-top: 3vw;
    margin-left: 30vw;
    background: #313131;
    box-shadow: 0 0 15px rgb(59, 73, 95);
    border-radius: 15px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: all 0.5s ease 0s;
    opacity: 1;
}
.pt:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.imghid{
    float: left;
    overflow: hidden;
}

.part2 .img{
    /*background-image: url("../image/solips.webp");*/
    background-image: url("http://3zureus.vm.szu.moe:8080/image/user/solips.webp");
    background-size: cover;
}
.part3 .img{
    /*background-image: url("../image/homepic3.jpg");*/
    background-image: url("http://3zureus.vm.szu.moe:8080/image/user/homepic3.jpg");
    background-size: cover;
}
.part4 .img{
    /*background-image: url("../image/homepic4.jpg");*/
    background-image: url("http://3zureus.vm.szu.moe:8080/image/user/homepic4.jpg");
    background-size: cover;
}

.pt .img{
    transition: all 0.5s ease 0s;
    opacity: 0.8;
    width: 23vw;
    height: 310px;
}

.pt .img:hover{
    transform: scale(1.1);
}

.pt .txt{
    height: 310px;
    width: 1024px;
    overflow: hidden;
    display: block;
    flex-direction: column;
    margin: auto;
}

.pt .txt h1{
    text-align: center;
    font-size: 3em;
    width: 430px;
    color: white;
    height: 30px;
    line-height: 30px;
    float: right;
}


.pt .txt p{
    width: 400px;
    align-self: center;
    margin-top: -2px;
    font-size: x-large;
    word-wrap: break-word;
    float: right;
    color: white;
}
@keyframes load{
    0%{
        background-position-y: 50px;
        opacity: 0;
    }
    100%{
        background-position-y: 0px;
        opacity: 1;
    }
}
