body{
    margin: 0;
    background-image: url("../image/mokou.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: antiquewhite; */
}

.question {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    width: 60vw;
    margin: 1vw auto 0;
}

.question h2 {
    margin-top: 0;
}

.question-info {
    color: #666;
    font-size: 0.9em;
}
.question:hover {
    background-color: #f9f9f9; /* 鼠标悬停时的背景颜色 */
    border-left: 4px solid #007bff; /* 添加一个左边框作为高亮效果 */
    cursor: pointer; /* 改变鼠标指针样式 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 增加阴影以提升立体感 */
}

.search-container {
display: flex;
justify-content: center;
width: 60vw;
padding: 20px;
margin: 4vw auto 0;
background-color: #f8f8f8;
}

#qa-search-box {
width: 40%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 4px 0 0 4px;
font-size: 16px;
}

#search-button {
padding: 10px;
border: none;
border-radius: 0 4px 4px 0;
background-color: #333;
color: white;
font-size: 16px;
cursor: pointer;
}

#search-button:hover {
background-color: #555;
}

#add-button {
    padding: 10px 15px;
    margin-left: 10px; /* 在按钮和搜索框之间添加一些间距 */
    border: none;
    border-radius: 4px;
    background-color: #28a745; /* 为按钮设置绿色背景 */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#add-button:hover {
    background-color: #218838; /* 鼠标悬停时的背景色 */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.new-question {

    animation: fadeIn 3s;
}

.new-question:hover{
    background-color: #f9f9f9; /* 鼠标悬停时的背景颜色 */
    border-left: 4px solid red; /* 添加一个左边框作为高亮效果 */
    cursor: pointer; /* 改变鼠标指针样式 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 增加阴影以提升立体感 */
}

#message-box {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}