:root {
    /* 默认背景色 */
    --backColor:#fff;
    --borderline:#00283a;
    /* 卡片 */
    --headerCOlor:#00283A;
    /* 卡片 */
    --headerhover:rgb(0, 40, 58,.8);

    /* 默认字体颜色 */
    --headerFont:#fff;
    /* 反差色 */

}

body {
    background-image: url(../image/detailbg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.QADetailBlcok{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    /* font-size: 2em; */
    font-weight: bold;
}

.content {
    position: relative;
    top: -120px;
    min-height: 1000px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
}
.co-right {
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.li2 .li2-box{
    padding: 30px;
    font-size: 1.5rem;
}

.li2-box>.text-hover{
    color: #7B7B7D;
    font-size: 13px;
    font-family: 'Inter',sans-serif;
    letter-spacing: .05em;
    -webkit-font-smoothing: antialiased;
}
.li2-box>.text-img{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;

}
.text-img img{
    flex: 1;
    min-width: 45%;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 10px;
}
.content-li>h1 {
    display: flex;
    align-items: center;
    color: var(--headerFont);
}
.content-li .borderbotm {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}
.content .borderbotm {
    /* border-style: dashed; */
    border-bottom: 1px dashed rgb(187, 185, 185);
    height: 0px;
    margin: 35px 0;
}
.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.note {
    padding: 0.75rem;
    border-left: 0.35rem solid;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    transition: color 0.2s ease-in-out;
    font-size: 0.9rem;
    background-color: rgba(160,197,228,0.25);
    border-color: #428bca;
}
.note-info {
    padding: 0.75rem;
    border-left: 0.35rem solid;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    transition: color 0.2s ease-in-out;
    font-size: 1.4rem;
    background-color: rgba(174,220,174,0.25);
    border-color: #5cb85c;
}
.underQ {
    padding: 0.75rem;
    border-left: 0.35rem solid;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    transition: color 0.2s ease-in-out;
    font-size: 0.9rem;
    background-color: rgba(160,197,228,0.25);
    border-color: #428bca;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.underQ button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#back:hover {
    background-color: #0056b3;
}

#questionTitle {
    font-size: 56px;
}

.noAnswerWords {
    font-size: 1.5rem;
}
#current-time {
    font-size: 1.5rem;
}
.imgAdd {
    height: 280px;
    width: 280px;
    margin: 10px;
}

.canvas-wrap{
    position: fixed;
    top: 100px;
    bottom: 0px;
    z-index: -999;
    left: 0;
    right: 0;
  }

  .moreIcon path{
    fill:#02162b;
  }

  .moreIcon:hover path {
    fill: aquamarine;
  }


  .findNine {
    width: 124px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    /* position: absolute; */
    top: 40px;
    left: 50%;  
    border-radius: 10px;
    margin-left: -60px;
    box-shadow: 0px 2px 5px #aaa;
    overflow: hidden;
    transition: all .2s;
    z-index: 999;
    display: flex; /* 将 .findNine 设置为 Flex 容器 */
    flex-direction: column; /* 纵向排列按钮 */
    align-items: stretch; /* 拉伸项目以填满容器 */
    gap: 1px; /* 设置按钮之间的间距为 5px */
}

.findNine button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* 将按钮显示为块级元素 */
    width: 100%; /* 宽度自适应父元素 */
}

.findNine button:hover{
    background-color: #0056b3;
}

